apiVersion: apps/v1
kind: Deployment
metadata:
  name: homework-app
  labels:
    app: homework
spec:
  replicas: 2
  selector:
    matchLabels:
      app: homework
  template:
    metadata:
      labels:
        app: homework
    spec:
      containers:
      - name: homework
        image: shekeriev/k8s-oracle:latest
        ports:
        - containerPort: 5000
